---
import Footer from '../components/footer.astro';
import SecondaryHeader from '../components/secondary_header.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import Conchi from '../images/rooms/conchi.png';
import Jose from '../images/rooms/jose.png';
import Maya from '../images/rooms/maya.png';
import Penelope from '../images/rooms/penelope.png';
import Sea from '../images/rooms/sea.png';
---

<Layout title="La Villa">
	<main>
        <SecondaryHeader BackgroundUrl='src/images/backgrounds/secondary_header.png' />
        <div class="mt-16 hidden md:block">
			<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center" id="conchi">
				<div class="w-full overflow-hidden">
					<Image src={Conchi} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
				</div>
				<div class="w-full flex items-center justify-center mt-6 mb-10">
					<div class="w-4/6 md:w-5/6 xl:w-4/6 text-center">
						<h4 class="text-xl sm:text-2xl" id="title1">La Villa Suite Conchi</h4>
						<p class="text-base mt-3" id="body1"></p>
						<div class="flex flex-col gap-2 mt-3">
							<div class="flex flex-row gap-10">
								<p class="title">Bathroom</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Beds</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Guest</p>
								<p>2</p>
							</div>
						</div>
						<a href='/rooms/conchi'><button class="p-3">MORE INFO</button></a>
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center" id="vista">
				<div class="w-full flex items-center justify-center mt-6 mb-10">
					<div class="w-4/6 md:w-5/6 xl:w-4/6 text-center">
						<h4 class="text-xl sm:text-2xl" id="title2">La Villa Vista del Mar Suite</h4>
						<p class="text-base mt-3" id="body2"></p>
						<div class="flex flex-col gap-2 mt-3">
							<div class="flex flex-row gap-10">
								<p class="title">Bathroom</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Beds</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Guest</p>
								<p>2</p>
							</div>
						</div>
						<a href='/rooms/vista'><button class="p-3">MORE INFO</button></a>
					</div>
				</div>
				<div class="w-full overflow-hidden">
					<Image src={Sea} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
				</div>
			</div>
			<div class="mt-6 sm:mt-0" id="maya">
				<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center">
					<div class="w-full overflow-hidden">
						<Image src={Maya} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
					</div>
					<div class="w-full flex items-center justify-center mt-6 mb-10">
						<div class="w-4/6 md:w-5/6 xl:w-4/6 text-center">
							<h4 class="text-xl sm:text-2xl" id="title3">La Villa Suite Maya</h4>
							<p class="text-base mt-3" id="body3"></p>
							<div class="flex flex-col gap-2 mt-3">
								<div class="flex flex-row gap-10">
									<p class="title">Bathroom</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Beds</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Guest</p>
									<p>2</p>
								</div>
							</div>
							<a href='/rooms/maya'><button class="p-3">MORE INFO</button></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0" id="penelope">
				<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center">
					<div class="w-full flex items-center justify-center mt-6 mb-10">
						<div class="w-4/6 md:w-5/6 xl:w-4/6 text-center">
							<h4 class="text-xl sm:text-2xl" id="title4">La Villa Penelope</h4>
							<p class="text-base mt-3" id="body4"></p>
							<div class="flex flex-col gap-2 mt-3">
								<div class="flex flex-row gap-10">
									<p class="title">Bathroom</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Beds</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Guest</p>
									<p>2</p>
								</div>
							</div>
							<a href='/rooms/penelope'><button class="p-3">MORE INFO</button></a>
						</div>
					</div>
					<div class="w-full overflow-hidden">
						<Image src={Penelope} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0" id="jose">
				<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center">
					<div class="w-full overflow-hidden">
						<Image src={Jose} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
					</div>
					<div class="w-full flex items-center justify-center mt-6 mb-10">
						<div class="w-4/6 md:w-5/6 xl:w-4/6 text-center">
							<h4 class="text-xl sm:text-2xl" id="title5">La Villa habitación José</h4>
							<p class="text-base mt-3" id="body5"></p>
							<div class="flex flex-col gap-2 mt-3">
								<div class="flex flex-row gap-10">
									<p class="title">Bathroom</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Beds</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Guest</p>
									<p>2</p>
								</div>
							</div>
							<a href='/rooms/jose'><button class="p-3">MORE INFO</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
        
		
		<div class="mt-16 block md:hidden">
			<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center" id="conchi2">
				<div class="w-full overflow-hidden">
					<Image src={Conchi} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
				</div>
				<div class="w-full flex items-center justify-center mt-6 mb-10">
					<div class="w-5/6 md:w-5/6 xl:w-4/6 text-center">
						<h4 class="text-xl sm:text-2xl" id="title1">La Villa Suite Conchi</h4>
						<p class="text-base mt-3" id="body1"></p>
						<div class="flex flex-col gap-2 mt-3">
							<div class="flex flex-row gap-10">
								<p class="title">Bathroom</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Beds</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Guest</p>
								<p>2</p>
							</div>
						</div>
						<a href='/rooms/conchi'><button class="p-3">MORE INFO</button></a>
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center" id="vista2">
				<div class="w-full overflow-hidden">
					<Image src={Sea} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
				</div>
				<div class="w-full flex items-center justify-center mt-6 mb-10">
					<div class="w-5/6 md:w-5/6 xl:w-4/6 text-center">
						<h4 class="text-xl sm:text-2xl" id="title2">La Villa Vista del Mar Suite</h4>
						<p class="text-base mt-3" id="body2"></p>
						<div class="flex flex-col gap-2 mt-3">
							<div class="flex flex-row gap-10">
								<p class="title">Bathroom</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Beds</p>
								<p>1</p>
							</div>
							<div class="flex flex-row gap-10">
								<p class="title">Guest</p>
								<p>2</p>
							</div>
						</div>
						<a href='/rooms/vista'><button class="p-3">MORE INFO</button></a>
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0" id="maya2">
				<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center">
					<div class="w-full overflow-hidden">
						<Image src={Maya} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
					</div>
					<div class="w-full flex items-center justify-center mt-6 mb-10">
						<div class="w-5/6 md:w-5/6 xl:w-4/6 text-center">
							<h4 class="text-xl sm:text-2xl" id="title3">La Villa Suite Maya</h4>
							<p class="text-base mt-3" id="body3"></p>
							<div class="flex flex-col gap-2 mt-3">
								<div class="flex flex-row gap-10">
									<p class="title">Bathroom</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Beds</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Guest</p>
									<p>2</p>
								</div>
							</div>
							<a href='/rooms/maya'><button class="p-3">MORE INFO</button></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0" id="penelope2">
				<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center">
					<div class="w-full overflow-hidden">
						<Image src={Penelope} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
					</div>
					<div class="w-full flex items-center justify-center mt-6 mb-10">
						<div class="w-5/6 md:w-5/6 xl:w-4/6 text-center">
							<h4 class="text-xl sm:text-2xl" id="title4">La Villa Penelope</h4>
							<p class="text-base mt-3" id="body4"></p>
							<div class="flex flex-col gap-2 mt-3">
								<div class="flex flex-row gap-10">
									<p class="title">Bathroom</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Beds</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Guest</p>
									<p>2</p>
								</div>
							</div>
							<a href='/rooms/penelope'><button class="p-3">MORE INFO</button></a>
						</div>
					</div>
				</div>
			</div>
			<div class="mt-6 sm:mt-0" id="jose2">
				<div class="mt-6 sm:mt-0 flex flex-col md:flex-row items-center">
					<div class="w-full overflow-hidden">
						<Image src={Jose} alt="Imagen" class="w-full object-cover hover:scale-105 transition-transform duration-500 ease-in-out" />
					</div>
					<div class="w-full flex items-center justify-center mt-6 mb-10">
						<div class="w-5/6 md:w-5/6 xl:w-4/6 text-center">
							<h4 class="text-xl sm:text-2xl" id="title5">La Villa habitación José</h4>
							<p class="text-base mt-3" id="body5"></p>
							<div class="flex flex-col gap-2 mt-3">
								<div class="flex flex-row gap-10">
									<p class="title">Bathroom</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Beds</p>
									<p>1</p>
								</div>
								<div class="flex flex-row gap-10">
									<p class="title">Guest</p>
									<p>2</p>
								</div>
							</div>
							<a href='/rooms/jose'><button class="p-3">MORE INFO</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<Footer SeparatorColor="#FFF6DD" />
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		const lang = document.cookie.split('; ').find(row => row.startsWith('lang'))!.split('=')[1];

		const translations = {
			es: {
				conchi: 'La joya de la corona, nuestra Suite La Villa Conchi, es un santuario de lujo y exclusividad. Con amplias vistas al mar, esta suite es la definición máxima de un escape paradisíaco, donde el desayuno en la cama se convierte en una experiencia celestial.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.',
				vista: 'Despierta cada mañana con el sublime espectáculo del amanecer sobre el océano. Nuestra Vista del Mar Suite ofrece panorámicas incomparables del Pacífico, complementadas con todas las comodidades modernas y desayuno para comenzar el día de la mejor manera.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.',
				maya: 'Sumérgete en la historia y la magia de la cultura maya con nuestra Suite Maya. Esta habitación no solo promete descanso y relajación, sino también una inmersión cultural, acompañada cada mañana por un desayuno lleno de sabores locales.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.',
				penelope: 'Inspirada en los sueños de tranquilidad y romance, la Habitación Penélope es un refugio íntimo perfecto para parejas. Con detalles elegantes y una atmósfera acogedora, es el lugar ideal para desconectar y reencontrarse.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.',
				jose: 'Un tributo a la tradición y al calor humano, la Habitación José combina confort moderno con toques tradicionales mexicanos. Su decoración y ambiente invitan a vivir la autenticidad de Colima en cada momento.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.'
			},
			en: {
				conchi: 'The crown jewel, our La Villa Conchi Suite, is a sanctuary of luxury and exclusivity. With expansive sea views, this suite is the ultimate definition of a paradisiacal escape, where breakfast in bed becomes a heavenly experience.<br><br>Guests can also book lunch or dinner in our restaurant in advance for an additional cost.',
				vista: 'Wake up every morning to the sublime spectacle of the sunrise over the ocean. Our Vista del Mar Suite offers unparalleled panoramas of the Pacific, complemented with all the modern comforts and breakfast to start the day in the best way.<br><br>Guests can also book lunch or dinner in our restaurant in advance for an additional cost.',
				maya: 'Immerse yourself in the history and magic of the Mayan culture with our Maya Suite. This room not only promises rest and relaxation, but also a cultural immersion, accompanied each morning by a breakfast full of local flavors.<br><br>Guests can also book lunch or dinner in our restaurant in advance for an additional cost.',
				penelope: 'Inspired by dreams of tranquility and romance, the Penelope Room is a perfect intimate refuge for couples. With elegant details and a cozy atmosphere, it is the ideal place to disconnect and reconnect.<br><br>Guests can also book lunch or dinner in our restaurant in advance for an additional cost.',
				jose: 'A tribute to tradition and human warmth, the José Room combines modern comfort with traditional Mexican touches. Its decoration and atmosphere invite you to live the authenticity of Colima at every moment.<br><br>Guests can also book lunch or dinner in our restaurant in advance for an additional cost.'
			}
		};

		let conchi = document.querySelector('#conchi p');
		let vista = document.querySelector('#vista p');
		let maya = document.querySelector('#maya p');
		let penelope = document.querySelector('#penelope p');
		let jose = document.querySelector('#jose p');
		conchi!.innerHTML = translations[lang as 'es' | 'en'].conchi;
		vista!.innerHTML = translations[lang as 'es' | 'en'].vista;
		maya!.innerHTML = translations[lang as 'es' | 'en'].maya;
		penelope!.innerHTML = translations[lang as 'es' | 'en'].penelope;
		jose!.innerHTML = translations[lang as 'es' | 'en'].jose;
		
		const checkScreenWidth = () => {
			if (window.innerWidth <= 760) {
				document.querySelector('#conchi2 p')!.innerHTML = translations[lang as 'es' | 'en'].conchi;
				document.querySelector('#vista2 p')!.innerHTML = translations[lang as 'es' | 'en'].vista;
				document.querySelector('#maya2 p')!.innerHTML = translations[lang as 'es' | 'en'].maya;
				document.querySelector('#penelope2 p')!.innerHTML = translations[lang as 'es' | 'en'].penelope;
				document.querySelector('#jose2 p')!.innerHTML = translations[lang as 'es' | 'en'].jose;
			}
		};
		checkScreenWidth();
		window.addEventListener('resize', checkScreenWidth);

		const title1:Element = (document.querySelector('#title1') as Element);
        const body1:Element = (document.querySelector('#body1') as Element);
		(title1 as Element).classList.add('show');
		(body1 as Element).classList.add('show');
	});

	document.addEventListener('scroll', () => {
        
		const title2:Element = (document.querySelector('#title2') as Element);
        const body2:Element = (document.querySelector('#body2') as Element);

        const title3:Element = (document.querySelector('#title3') as Element);
        const body3:Element = (document.querySelector('#body3') as Element);

        const title4:Element = (document.querySelector('#title4') as Element);
        const body4:Element = (document.querySelector('#body4') as Element);

        const title5:Element = (document.querySelector('#title5') as Element);
        const body5:Element = (document.querySelector('#body5') as Element);

        if (isInViewport((title2)) && !(title2 as Element).classList.contains('show')) {
            (title2 as Element).classList.add('show');
            (body2 as Element).classList.add('show');
        }
        if (isInViewport((title3)) && !(title3 as Element).classList.contains('show')) {
            (title3 as Element).classList.add('show');
            (body3 as Element).classList.add('show');
        }
        if (isInViewport((title4)) && !(title4 as Element).classList.contains('show')) {
            (title4 as Element).classList.add('show');
            (body4 as Element).classList.add('show');
        }
        if (isInViewport((title5)) && !(title5 as Element).classList.contains('show')) {
            (title5 as Element).classList.add('show');
            (body5 as Element).classList.add('show');
        }
    });

    function isInViewport(element:Element) {
        const rect = element.getBoundingClientRect();
        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
            rect.right <= (window.innerWidth || document.documentElement.clientWidth)
        );
    }
</script>


<style>
    div{
        color: #123940;
        text-align: left;
    }
    h4{
        font-family: 'Cinzel';
        font-weight: bold;
    }
    hr{
        background-color: #d3d1d1;
        text-align: left;
        border: none;
        height: 1px;
    }
    p{
        font-family: 'Poppins';
        font-weight: normal;
        color: #666666;
    }
    #bottom-square-left, #bottom-square-right{
        color: white;
        font-family: 'Cinzel';
        font-weight: normal;
        padding-left: 2.5em;
        padding-right: 2.5em;
    }
    .title {
        font-family: 'Cinzel';
        font-weight: bold;
        width: 100px;
    }
    button{
        background-color: #A18549;
        color: white;
        font-size: 0.8em;
        margin-top: 1.2em;
    }
</style>