---
import type { GetStaticPaths } from "astro";
import { Image } from "astro:assets";
const {room} = Astro.params;

import Footer from '../../components/footer.astro';
import SecondaryHeader from '../../components/secondary_header.astro';
import Layout from '../../layouts/Layout.astro';

import Bath from '../../images/icons/bath.svg';
import Bathroom from '../../images/icons/bathroom.svg';
import Beach from '../../images/icons/beach.svg';
import Bed from '../../images/icons/bed.svg';
import Car from '../../images/icons/car.svg';
import Dog from '../../images/icons/dog.svg';
import Guest from '../../images/icons/guest.svg';
import Pool from '../../images/icons/pool.svg';
import Tv from '../../images/icons/tv.svg';
import Wifi from '../../images/icons/wifi.svg';


let pageTitle = '';

switch (room) {
	case 'conchi':
		pageTitle = 'La Villa Suite Conchi';
	break;
	case 'vista':
		pageTitle = 'La Villa Vista del Mar Suite';
	break;
	case 'maya':
		pageTitle = 'La Villa Suite Maya';
	break;
	case 'penelope':
		pageTitle = 'La Villa Penelope';
	break;
	case 'jose':
		pageTitle = 'La Villa Habitación José';
	break;

	default:
		pageTitle = room;
	break;
}

export const getStaticPaths = (() => {
	return [
		{params: {room: 'conchi'}},
		{params: {room: 'vista'}},
		{params: {room: 'maya'}},
		{params: {room: 'penelope'}},
		{params: {room: 'jose'}},
	];
}) satisfies GetStaticPaths;
---


<Layout title={pageTitle}>
	<main>
        <SecondaryHeader BackgroundUrl=`/src/images/rooms/headers/${room}-header.png` />
		<div class="container mt-10 mb-8">
			<h1 class="text-3xl">{pageTitle}</h1>
		</div>
		<div class="w-full px-4 py-4 mx-auto">
			<div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-4">
				<div class="col-span-2 md:col-span-2">
					<div class="mb-4 md:mb-4 xl:mb-6 grid gap-x-4 grid-cols-2">
						<img src=`/src/images/rooms/room_grid/${room}/1.png` alt="Grid image 1" class="h-full w-full">
						<img src=`/src/images/rooms/room_grid/${room}/2.png` alt="Grid image 2" class="h-full w-full">
					</div>
					<div class="grid gap-x-4 grid-cols-2">
						<img src=`/src/images/rooms/room_grid/${room}/3.png` alt="Grid image 3" class="h-full w-full">
						<img src=`/src/images/rooms/room_grid/${room}/4.png` alt="Grid image 4" class="h-full w-full">
					</div>
				</div>
				<div class="col-span-2 md:col-span-1">
					<img src=`/src/images/rooms/room_grid/${room}/5.png` alt="Grid image 4" class="h-full w-full">
				</div>
			</div>
		</div>
		<div class="container mt-10 mb-10">
			<h1 class="text-3xl" id="title"></h1>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-28 mt-10">
				<ul class="w-full text-base">
					<li class="flex items-center">
						<Image src={Beach} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1" id="beach_access"></p>
					  </div>
					</li>
					<li class="flex items-center">
						<Image src={Wifi} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1">Wifi</p>
					  </div>
					</li>
					<li class="flex items-center">
						<Image src={Car} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1" id="parking"></p>
					  </div>
					</li>
					<li class="flex items-center">
						<Image src={Pool} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1" id="pool"></p>
					  </div>
					</li>
					<li class="flex items-center">
						<Image src={Bath} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1" id="jacuzzi"></p>
					  </div>
					</li>
					<li class="flex items-center">
						<Image src={Dog} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1" id="pets"></p>
					  </div>
					</li>
					<li class="flex items-center">
						<Image src={Tv} alt="Beach icon" class="mr-8 py-2 w-9 h-9" />
					  <div class="flex-1">
						<p class="mt-1" id="tv"></p>
					  </div>
					</li>
				</ul>

				<div class="font-bold text-base">
					<div class="grid grid-cols-1 md:grid-cols-3 gap-1">
						<div class="flex items-center justify-between md:border-r-2 md:border-gray-400 w-full md:w-3/4">
							<p id="bed"></p>
							<Image src={Bed} alt="Beach icon" class="mr-8 py-2 w-12 h-12" />
						</div>
						<div class="flex items-center justify-between md:border-r-2 md:border-gray-400 w-full md:w-3/4">
							<p>2 Guest</p>
							<Image src={Guest} alt="Beach icon" class="mr-8 py-2 w-12 h-12" />
						</div>
						<div class="flex items-center justify-between w-full md:w-full">
							<p id="bath"></p>
							<Image src={Bathroom} alt="Beach icon" class="mr-8 py-2 w-12 h-12" />
						</div>
					</div>
					<hr class="border-1 border-gray-400 mt-5">
					<p class="mt-8" id="description"></p>
				</div>
			</div>

			<div class="text-center mt-24 mb-20">
				<a href="https://wa.me/+5213141014478?text=¿Te%20gustaría%20reservar%20una%20habitación?" target="_blank" rel="noopener noreferrer"><button class="px-11 py-2">RESERVATION</button></a>
			</div>
		</div>
		<Footer SeparatorColor="#FFF6DD" />
	</main>
</Layout>

<script>
	document.addEventListener('DOMContentLoaded', (event) => {
		const path = window.location.pathname.split('/')[2];
		const lang = document.cookie.split('; ').find(row => row.startsWith('lang'))!.split('=')[1];

		const translations = {
			es: {
				description: {
					conchi: "Nuestro pequeño hotel disfruta de la hermosa ubicación en la playa. Acceso para huéspedes. Los huéspedes tienen acceso a todas las áreas comunes, piscina, nuestro club de playa Lila Beach.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.",
					vista: "Nuestra suite Vista del Mar es un refugio privado con una impresionante vista al mar. Disfruta de la ubicación frente a la playa de nuestra propiedad boutique en Cuyutlan, Colima, México. Relájate junto a la piscina o maravíllate con el fascinante océano y las puestas de sol durante todo el año desde nuestro club de playa “Lila Beach” adjunto al hotel. ¡El desayuno buffet de La Villa repondrá tu energía todas las mañanas! Pasa tus días reenergizándote junto a nuestra hermosa piscina o en la playa antes de permitirte explorar esta hermosa región de México.",
					maya: "Nuestro pequeño hotel disfruta de la hermosa ubicación en la playa. Acceso para huéspedes. Los huéspedes tienen acceso a todas las áreas comunes, piscina, nuestro club de playa Lila Beach.<br><br>Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.",
					penelope: "Inspirada en los sueños de tranquilidad y romance, la Habitación Penélope es un refugio íntimo perfecto para parejas. Con detalles elegantes y una atmósfera acogedora, es el lugar ideal para desconectar y reencontrarse. Los huéspedes también pueden reservar con antelación el almuerzo o la cena en nuestro restaurante por un costo adicional.",
					jose: "Disfruta de la ubicación única frente a la playa de nuestro hotel boutique en Cuyutlan, Colima. Relájate junto a la piscina, maravilla el fascinante océano y las puestas de sol durante todo el año desde nuestro Beach Club “Lila Beach” adjunto a la propiedad. El desayuno buffet de La Villa te dejará con energía todas las mañanas."
				},
				offers: {
					beach_access: 'Acceso a la playa: frente a la playa',
					parking: 'Estacionamiento gratuito en las instalaciones',
					pool: 'Alberca: Uso compartido, al aire libre, disponible todo el año, las 24 horas',
					jacuzzi: 'Jacuzzi privado: disponible todo el año, disponible las 24 horas',
					pets: 'Se admiten mascotas',
					tv: 'Televisión HD y Chromecast, Roku, Netflix'
				},
				props: {
					bed: '1 Cama',
					bath: '2 Cuartos de baño'
				}
			},
			en: {
				description: {
					conchi: "Our small hotel enjoys a beautiful beachfront location. Guest access: Guests have access to all common areas, swimming pool, and our Lila Beach club.<br><br>Guests can also book lunch or dinner in advance at our restaurant for an additional cost.",
					vista: "Our Vista del Mar Suite is a private retreat with stunning ocean views. Enjoy the beachfront location of our boutique property in Cuyutlan, Colima, Mexico. Relax by the pool or marvel at the fascinating ocean and year-round sunsets from our Lila Beach Club attached to the hotel. The La Villa buffet breakfast will replenish your energy every morning! Spend your days reenergizing by our beautiful pool or on the beach before allowing yourself to explore this beautiful region of Mexico.",
					maya: "Our small hotel enjoys a beautiful beachfront location. Guest access: Guests have access to all common areas, swimming pool, and our Lila Beach club.<br><br>Guests can also book lunch or dinner in advance at our restaurant for an additional cost.",
					penelope: "Inspired by dreams of tranquility and romance, the Penelope Room is an intimate retreat perfect for couples. With elegant details and a cozy atmosphere, it is the ideal place to disconnect and reconnect. Guests can also book lunch or dinner in advance at our restaurant for an additional cost.",
					jose: "Enjoy the unique beachfront location of our boutique hotel in Cuyutlan, Colima. Relax by the pool, marvel at the fascinating ocean and year-round sunsets from our Lila Beach Club attached to the property. The La Villa buffet breakfast will leave you energized every morning."
				},
				offers: {
					beach_access: 'Beach access: beachfront',
					parking: 'Free parking on premises',
					pool: 'Pool: Shared use, outdoor, available all year round, 24 hours',
					jacuzzi: 'Private Jacuzzi: available all year round, 24 hours',
					pets: 'Pets allowed',
					tv: 'HD Television with Chromecast, Roku, Netflix'
				},
				props: {
					bed: '1 Bed',
					bath: '2 Bathrooms'
				}
			}
		};

		document.querySelector('#description')!.innerHTML = translations[lang as 'es' | 'en']['description'][path as 'conchi' | 'vista' | 'maya' | 'penelope' | 'jose'];
		document.querySelector('#beach_access')!.innerHTML = translations[lang as 'es' | 'en']['offers']['beach_access'];
		document.querySelector('#parking')!.innerHTML = translations[lang as 'es' | 'en']['offers']['parking'];
		document.querySelector('#pool')!.innerHTML = translations[lang as 'es' | 'en']['offers']['pool'];
		document.querySelector('#jacuzzi')!.innerHTML = translations[lang as 'es' | 'en']['offers']['jacuzzi'];
		document.querySelector('#pets')!.innerHTML = translations[lang as 'es' | 'en']['offers']['pets'];
		document.querySelector('#tv')!.innerHTML = translations[lang as 'es' | 'en']['offers']['tv'];
		document.querySelector('#bed')!.innerHTML = translations[lang as 'es' | 'en']['props']['bed'];
		document.querySelector('#bath')!.innerHTML = translations[lang as 'es' | 'en']['props']['bath'];
		if(lang == 'es'){
			document.querySelector('#title')!.innerHTML = 'Lo que ofrece este lugar';
		}else{
			document.querySelector('#title')!.innerHTML = 'What this place offers';
		}
	});
</script>

<style>
	h1{
		font-family: 'Cinzel';
		font-weight: bold;
	}
	ul, p{
		color: #666666;
		font-weight: normal;
	}
	button{
		background-color: #A18549;
		color: white;
	}
</style>