---
import { Image } from "astro:assets";
import MX from "../images/icons/mx.png";
import Phone from "../images/icons/phone.svg";
import US from "../images/icons/us.png";
import Logo from "../images/logos/la_villa_logo.svg";
---

<header class="mt-4 ml-4 mr-4 flex flex-col justify-between">
    <div class="flex justify-end">
        <div class="columns-1 sm:columns-2 w-full md:w-10/12 flex items-center">
            <Image src={Logo} id="header-bg" alt="La villa logo" class="p-4 opacity-90" loading="eager"/>
            <nav class="flex items-center w-full flex-col sm:flex-row py-4 justify-center gap-10">
                <a href="/" class="font-normal hover:font-bold">Home</a>
                <a href="/about" class="font-normal hover:font-bold">About</a>
                <a href="/rooms" class="font-normal hover:font-bold">Rooms</a>
                <a href="/reservation" class="font-normal hover:font-bold">Reservation</a>
                <a href="https://wa.me/+5213141014478" target="_blank" class="font-normal hover:font-bold">Contact</a>
                <button change-lang-es><Image src={MX} alt="mx flag" class="h-7 w-7"></button>
                <button change-lang-en><Image src={US} alt="mx flag" class="h-7 w-7"></button>
            </nav>
        </div>
    </div>

    <div class="absolute bottom-1/4 sm:bottom-0 left-1/2 transform -translate-x-1/2 mb-8" style="filter: drop-shadow(0px 14px 14px rgba(0, 0, 0, 1))">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 animate-bounce" style="color: #123940" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 3a.75.75 0 0 1 .75.75v8.64l2.72-2.72a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 0 1 1.06-1.06l2.72 2.72V3.75A.75.75 0 0 1 10 3z"/>
        </svg>
    </div>

    <div class="flex justify-end">
        <div class="columns-2 flex items-center w-full sm:w-4/6 md:w-2/6 p-4" id="reservation">
            <Image src={Phone} alt="Phone Icon" class="mr-3 w-1/3" loading="eager"/>
            <p>Make your reservation easily through our website and secure your place in paradise.</p>
        </div>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const lang = document.cookie.split('; ').find(row => row.startsWith('lang'))!.split('=')[1];
        const buttonEs = document.querySelector('[change-lang-es]');
        const buttonEn = document.querySelector('[change-lang-en]');
        const translations: { [key: string]: { [key: string]: string } } = {
            es: {
                home: 'Inicio',
                about: 'Acerca de',
                rooms: 'Habitaciones',
                reservation: 'Reservación',
                contact: 'Contacto',
                reservationText: 'Haz tu reserva fácilmente a través de nuestro sitio web y asegura tu lugar en el paraíso.'
            },
            en: {
                home: 'Home',
                about: 'About',
                rooms: 'Rooms',
                reservation: 'Reservation',
                contact: 'Contact',
                reservationText: 'Make your reservation easily through our website and secure your place in paradise.'
            }
        };

        document.querySelectorAll('nav a').forEach((link, index) => {
            link.textContent = Object.values(translations[lang])[index];
        });

        document.querySelector('#reservation p')!.textContent = translations[lang].reservationText;

        if (lang === 'es') {
            buttonEs!.style.display = 'none';
        } else {
            buttonEn!.style.display = 'none';
        }

        const path = window.location.pathname;
        const navLinks = document.querySelectorAll('nav a');
        navLinks.forEach((link) => {
            if (link.getAttribute('href') === path) {
                console.log(link);
                link.classList.remove('font-normal');
                link.classList.add('font-bold');
            }
        });
    });

    

    const setCookie = (name:string, value:string, days:number) => {
        let expires = '';
        if (days) {
            const date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = `; expires=${date.toUTCString()}`;
        }
        document.cookie = `${name}=${value}${expires}; path=/`;
    };

    function deleteCookie(name:string) {
        document.cookie = `${name}=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;`;
    }

    const buttonEs = document.querySelectorAll('[change-lang-es]');
    const buttonEn = document.querySelectorAll('[change-lang-en]');

    buttonEs.forEach((button) => {
        button.addEventListener('click', ()=>{
            deleteCookie('lang');
            setCookie('lang', 'es', 30);
            location.reload();
        });
    });
    buttonEn.forEach((button) => {
        button.addEventListener('click', ()=>{
            deleteCookie('lang');
            setCookie('lang', 'en', 30);
            location.reload();
        });
    });
</script>

<style>
    header{
        background-image: url('../images/backgrounds/header_bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 98vh;
    }
    nav{
        background-color: rgba(186, 167, 111, 0.7);
        color: white;
    }
    #header-bg{
        background-color: #FFF6DD;
    }
    #reservation{
        background-color: #123940;
        color: white;
        font-family: 'Cinzel';
        font-weight: normal;
        font-size: 1.1em;
    }
</style>