---
import { Image } from 'astro:assets';

interface Props {
	ImageSrc: ImageMetadata;
    ImagePosition: String;
    Title: String;
    Body: String;
}

const { ImageSrc, ImagePosition, Body, Title } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-4 gap-52">
    {ImagePosition === 'left' && (
        <div class="md:w-1/3 relative">
            <Image src={ImageSrc} alt="Imagen" class="w-full" />
        </div>
    )}

    {ImagePosition === 'right' && (
        <div class="md:w-1/2 relative">
            <h4 class="text-xl sm:text-3xl">{Title}</h4>
            <hr class="absolute w-180 mt-8">
            <p class="text-lg mt-8">{Body}</p>
        </div>
    )}

    {ImagePosition === 'left' && (
        <div class="md:w-1/2 relative">
            <h4 class="text-xl sm:text-3xl">{Title}</h4>
            <hr class="absolute w-180 mt-8 right-0">
            <p class="text-lg mt-8">{Body}</p>
        </div>
    )}

    {ImagePosition === 'right' && (
        <div class="md:w-1/3 relative">
            <Image src={ImageSrc} alt="Imagen" class="w-full" />
        </div>
    )}
</div>


<style>
    div{
        color: #123940;
        text-align: left;
    }
    h4{
        font-family: 'Cinzel';
        font-weight: normal;
    }
    hr{
        background-color: #d3d1d1;
        text-align: left;
        border: none;
        height: 1px;
    }
</style>